.root{
    -fx-background-size: contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;

    -fx-background-image: url(yes.jpeg); //*https://www.artstation.com/artwork/WK594N REFERENCE FOR ART IF NEEDED */
    -fx-background-size: cover;
}